[Desktop Entry]
Name=Deepin Lightdm Greeter
Comment=Deepin Lightdm Greeter
Exec=lightdm-deepin-greeter
Type=Application
X-Ubuntu-Gettext-Domain=deepin-lightdm-greeter
