*~
pkgbuild/**/*~
pkgbuild/**/pkg/
pkgbuild/**/src/
pkgbuild/**/*.pkg.tar.xz
pkgbuild/**/*.tar.gz
pkgbuild/**/*.deb
pkgbuild/**/*.tar.xz
pkgbuild/**/*.zip
aur/**/__*
obs/**/.osc
obs/**/binaries
obs/**/pkg
obs/**/src
obs/**/*.tar.gz
__*
